<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

{% if name %}

<div>{{name}}</div>

<div>

    <canvas id="myChart"></canvas>

</div>

<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{labels}},
        datasets: [{
          label: 'Portfolio Value',
          data: {{data}},
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1,
          spanGaps: true
        },
        {
          label: 'Closes',
          data: {{closes}},
          fill: false,
          borderColor: 'rgb(192, 75, 75)',
          tension: 0.1,
          spanGaps: true
        }]
      }
    });
  </script>

{%- endif -%}